@import "../node_modules/bulma/bulma.sass";

$dark: #171717;
$light: #f7f7f7;

html {
    font-family: 'Open Sans', sans-serif;
    padding: 1em;
    background: $dark;
    color: $light; 
}


.box {
    border-radius: 0 !important;
}

